mat-card-content div {
    height: 7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #fff;
}

.title__text {
    width: calc(100% - 3rem);
    display: inline-block;
}

.title__favourite {
    width: 3rem;
    height: 100%;
    float: left;
}