mat-card-content div {
    height: 7rem;
    overflow: hidden;
    background-color: #fff;
}

.title {
    padding-bottom: 1rem;
    width: 100%;
    display: flex;
}

.title__text {
    font-size: 18px;
    display: flex;
    align-items:center;
}

.title__favourite {
    display: flex;
    align-items:center;
    margin-right: 0.5rem;
}

.favourite:hover {
    cursor: pointer;
}