.title, .item {
    display: flex;

    mat-icon, div {
        display: flex;
        align-items: center;
    }

    mat-icon {
        margin-right: 1rem;
    }
}

.item {
    mat-icon:hover {
        cursor: pointer;
    }
}

/deep/.mat-expansion-panel {
    overflow:visible !important;
}