<mat-accordion class="example-headers-align">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="title">
            <mat-icon color="warn">search</mat-icon>
            <div><strong>Поиск</strong></div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-search></app-search>
    </mat-expansion-panel>
  
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="title">
            <mat-icon color="warn">grade</mat-icon>
            <div><strong>Избранное</strong></div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-divider></mat-divider>
      <div class="favourite" *ngFor="let item of favoriteItems">
        <div class="item">
          <div class="item">
            <mat-icon color="warn" (click)="deleteFavourite(item.id)">grade</mat-icon>
            <div>{{item.title}}</div>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>
    </mat-expansion-panel>
  
  </mat-accordion>