.poster {
    max-height: 40rem;
    max-width: 20rem;
    float: left;
}

.company__logo {
    margin-right: 0.5rem;
    max-height: 5rem;
    max-width: 10rem;
    vertical-align: middle;
}

.flag-icon {
    height: 3rem;
    width: 3rem;
}

.title {
    text-align: center;
}

.viewport {
    height: 26rem;
    width: 100%;
    // border: 1px solid black;
    /deep/.cdk-virtual-scroll-content-wrapper {
        display: flex !important;
        flex-direction: row;
    }
    
    /deep/.item {
        max-width: 10rem;
        margin-right: 0.5rem;
        // height: 25rem;
        // border: 1px dashed #aaa;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        .mat-card-header {
            height: 5rem;
            overflow: hidden;
            overflow-y: auto;
        }
        .mat-card-image {
            width: 10rem;
            height: 14rem;
        }

        // writing-mode: vertical-lr;
    }
}

/deep/mat-card-content div{
    display: none;
}

/deep/.mat-card-image {
    width: 100% !important;
    margin: 0 !important;
}


