<div class="info"  *ngIf="info">
    <h2 class="title">{{info.title}}</h2>
    <img [src]="poster" class="poster">
    <table>
        <tr>
            <th>Информация:</th>
        </tr>
        <tr>
            <td>Жанр:</td>
            <td><span *ngFor="let item of info.genres; let i=index">{{ (i)? ' | ' + item.name: item.name  }}</span></td>
        </tr>
        <tr>
            <td>Описание:</td>
            <td>{{info.overview}}</td>
        </tr>
        <tr>
            <td>Дата:</td>
            <td>{{info.release_date}}</td>
        </tr>
        <tr>
            <td>Компании:</td>
            <td>
                <div class="company">
                    <img *ngFor="let item of companyLogo" [src]="item" class="company__logo shadow">
                </div>
            </td>
        </tr>
        <tr>
            <td>Страна:</td>
            <td><span *ngFor="let item of info.production_countries" class="flag-icon shadow"></span></td>
        </tr>
    </table>
</div>

<cdk-virtual-scroll-viewport itemSize="26rem" orientation="horizontal" class="viewport">
    <div *cdkVirtualFor="let item of recomendations" class="item">
        <card-movie [movie]="item"></card-movie>
    </div>
</cdk-virtual-scroll-viewport>