aside {
    float:left;
    display:none;
}

@media (min-width:900px) {
    aside {
        display: inline-block;
        box-sizing: border-box;
        width: 20%;
        height: 100%;
        padding: 0.5rem;
    }

    section {
        width: 80%;
        display: inline-block;
    }
}

$select-color: #c62828;
/deep/.ng-select.ng-select-focused .ng-select-container:after {
    border-color: $select-color !important;
}

/deep/.ng-select.ng-select-focused .ng-select-container .ng-arrow-wrapper .ng-arrow {
    color: $select-color !important;
}

/deep/.shadow {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}