@import '~@angular/material/theming';

@include mat-core();

$bacup-primary: mat-palette($mat-red, 800, 900);
$bacup-accent:  mat-palette($mat-red, 800, A100, 200);
$bacup-warn:    mat-palette($mat-red, 800);

$bacup-theme: mat-light-theme($bacup-primary, $bacup-accent, $bacup-warn);

.bacup-theme {
  @include  angular-material-theme ( $bacup-theme ); 
}